/***=====  V A R I A B L E S  =====***/
:root {
  --header-height: 56px;

  /**===  c o l o r s  ===**/
  --color-white: hsl(201, 45%, 88%);
  --color-light: hsl(202, 45%, 80%);
  --color-gray: hsl(214, 35%, 37%);
  --color-primary: hsl(362, 75%, 60%);
  --color-dark: hsl(209, 70%, 13%);

  /**===  f o n t s  ===**/
  --body-font: "Rubik", sans-serif;
  --h1-font-size: 28px;
  --h2-font-size: 20px;
  --h3-font-size: 16px;
  --normal-font-size: 15px;
  --small-font-size: 13px;

  /**===  f o n t   w e i g h t s  ===**/
  --font-medium: 400;
  --font-semi-bold: 600;

  /**===  m a r g i n s  ===**/
  --m-0-5: 8px;
  --m-0-75: 12px;
  --m-1: 16px;
  --m-1-5: 24px;
  --m-2: 32px;
  --m-2-5: 40px;
  --m-5: 80px;

  /**===  c a r d   p a d d i n g  ===**/
  --card-padding: 30.4px 15.2px;

  /**===  b o r d e r s  ===**/
  --border-radius: 20px;

  /**===  b o x   s h a d o w  ===**/
  --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}

@media only screen and (max-width: 534px) {
  .cont {
    max-width: 450px;
  }
  .about-content .about-text,
  .goals .goals-text {
    font-size: 13px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-content .about-text,
  .profile,
  .educ,
  .exp,
  .skills,
  .certs {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .e-content h1 {
    font-size: 20px;
    margin-left: 25px;
    margin-top: -50px;
  }
  .educ {
    margin-bottom: 20px;
  }
  .skills {
    margin-left: 40px;
  }
  .skills .progress-box {
    margin-left: 20px;
  }
  .skills h1 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 50px;
  }
  .skills .title {
    font-size: 15px;
    margin-bottom: var(--m-1);
  }
  .skills .skill-item {
    font-size: 13px;
    padding-right: 100px;
  }
  .skills .skill-item h4 {
    margin-bottom: 5px;
  }
  .skills .skill-item .progress {
    height: 10px;
    width: 210%;
  }
  .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    top: -27px;
  }
  .skills .progress-box {
    position: relative;
    margin-bottom: 20px;
  }
  .certs {
    margin-top: -5px;
  }
  .certs h1 {
    font-size: 20px;
    margin-left: 20px;
  }
  .certs h3 {
    font-size: 18px;
    top: 100px;
  }
  .certs h2 {
    font-size: 14px;
    top: 125px;
  }
  .certs-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 418px) {
  .cont {
    max-width: 350px;
  }
  .about-content .about-text,
  .goals .goals-text {
    font-size: 13px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-content .about-text,
  .profile,
  .educ,
  .exp,
  .skills,
  .certs {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .e-content h1 {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 50px;
  }
  .educ {
    margin-bottom: 20px;
  }
  .skills {
    margin-left: 10px;
  }
  .skills .progress-box {
    margin-left: 20px;
  }
  .skills h1 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 180px;
  }
  .skills .title {
    font-size: 15px;
    margin-bottom: var(--m-1);
  }
  .skills .skill-item {
    font-size: 13px;
    padding-right: 100px;
  }
  .skills .skill-item h4 {
    margin-bottom: 5px;
  }
  .skills .skill-item .progress {
    height: 10px;
    width: 210%;
  }
  .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    top: -27px;
  }
  .skills .progress-box {
    position: relative;
    margin-bottom: 20px;
  }
  .certs {
    margin-top: -5px;
  }
  .certs h1 {
    font-size: 20px;
    margin-left: 20px;
  }
  .certs h3 {
    font-size: 18px;
    top: 100px;
  }
  .certs h2 {
    font-size: 14px;
    top: 125px;
  }
  .certs-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .project-item {
    margin-left: 35px;
  }
  .project h3 {
    font-size: 18px;
    top: 130px;
  }
  .project h2 {
    font-size: 14px;
    top: 160px;
  }
}

@media only screen and (max-width: 360px) {
  .cont {
    max-width: 330px;
  }
  .about-content .about-text,
  .goals .goals-text {
    font-size: 13px;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-content .about-text,
  .profile,
  .educ,
  .exp,
  .skills,
  .certs {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .e-content h1 {
    font-size: 20px;
    margin-left: 25px;
    margin-top: 80px;
  }
  .educ {
    margin-bottom: 20px;
  }
  .skills {
    margin-left: 5px;
  }
  .skills .progress-box {
    margin-left: 20px;
  }
  .skills h1 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 250px;
  }
  .skills .title {
    font-size: 15px;
    margin-bottom: var(--m-1);
  }
  .skills .skill-item {
    font-size: 13px;
    padding-right: 100px;
  }
  .skills .skill-item h4 {
    margin-bottom: 5px;
  }
  .skills .skill-item .progress {
    height: 10px;
    width: 210%;
  }
  .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    top: -27px;
  }
  .skills .progress-box {
    position: relative;
    margin-bottom: 20px;
  }
  .certs {
    margin-top: -15px;
  }
  .certs h1 {
    font-size: 20px;
    margin-left: 20px;
  }
  .certs h3 {
    font-size: 18px;
    top: 100px;
  }
  .certs h2 {
    font-size: 14px;
    top: 125px;
  }
  .certs-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .project-item {
    margin-left: 35px;
  }
  .project h3 {
    font-size: 18px;
    top: 130px;
  }
  .project h2 {
    font-size: 14px;
    top: 160px;
  }
}
